*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background-color: #BCDBD7;
  font-family: "Josefin Sans", sans-serif;
}

header {
  text-align: center;
  color:#3C3506;
  font-family: "Amatic SC", cursive;
}

h1 {
    margin-top: 10px;
  font-size: 3.5em;
}

input[type="text"], input[type="number"]  {
  border: 5px solid tomato;
  font-size: 2em;
  color: tomato;
  width: 100%;
  margin-top: 10px;
}



.container {
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    color: #3C3506;
    user-select: none;
  }


.checkbox, label {
    margin-top: 10px;
    font-size: 1.5em;
}




